a{
  text-decoration: none;
}
.main-header {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.main-header__title{
  font-size: 92px;
  letter-spacing: -1.5px;
}

.main-header__title--blue {
  color: var(--blue);
}


.main-header__title--orange {
  color: var(--orange);
}

.main-header__menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.main-header__menu li {
  padding: 8px;
}

.main-header__menu i {
  padding: 2px;
}

.main-header__menu a {
  text-decoration: none;
}

.main-header__menu a:hover {
  color: var(--orange);
}

.container-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1;
}

.badge-carrinho {
  background-color: var(--blue);
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
}

.badge-carrinho:hover {
  background-color: var(--orange);
}

